<!--  

-->
<%- include ("partials/header") %>

<!-- para ver si funciona -->
<!-- <pre> <%= tasks %> </pre> -->

<div class="container">
  <div class="row">
    <!-- formulario -->
    <div class="col-md-5">
      <div class="card card-body">
        <form action="/add" method="POST">
          <div class="form-group">
            <input
              type="text"
              name="title"
              placeholder="Inserte un titulo"
              class="form-control"
              autofocus
            />
          </div>
          <div class="form-group">
            <textarea
              name="description"
              cols="30"
              placeholder="Ingrese una descripción"
              class="form-control"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Enviar
          </button>
        </form>
      </div>
    </div>
    <!-- listado -->
    <div class="col-md-7">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>N°</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i<tasks.length; i++) {  %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= tasks[i].title %></td>
              <td><%= tasks[i].description %></td>
              <td> 
                <a href="/turn/<%= tasks[i]._id %>"
                   class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark'  %>" >
                   Done</a>
                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                <a href="" class="btn btn-primary">Edit</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include ("partials/footer") %>
